## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [5]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head(len(df))

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5

In [27]:
# View the column names in the data

print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'subtotal', 'shipping_price', 'total_price', 'line_cost',
       'profit'],
      dtype='object')

In [28]:
# Use the describe function to gather some basic statistics

df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price,total_price,line_cost,profit
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000,5.463900e+04,54639.000000,5.463900e+04,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667,7.710286e+04,50.041163,8.428491e+04,5.650466e+04,-36.821134
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320,2.881926e+06,53.265990,3.148504e+06,1.990502e+06,60.919510
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.800000e+00,1.800000e+00,-549.960000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000,1.132950e+03,14.500000,1.286667e+03,8.545600e+02,-41.720000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000,4.629440e+03,32.400000,5.110050e+03,3.383360e+03,-14.730000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000,1.736913e+04,68.900000,1.902401e+04,1.263191e+04,-4.390000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000,5.844743e+08,464.300000,6.385382e+08,3.962598e+08,0.000000

In [8]:
# Use this space to do any additional research
The mean or average order year for sales is 2022 with a unit price of 136.267 and a unit cost of 99.446


# and familiarize yourself with the data.

SyntaxError: invalid syntax (2070485359.py, line 2)

In [29]:
# What three item categories had the most entries?
Consumbales
Furniture
Software

NameError: name 'Consumbales' is not defined

In [ ]:
# For the category with the most entries,
# which subcategory had the most entries?
Bathroom Supplies

In [ ]:
# Which five clients had the most entries in the data?

In [ ]:
# Store the client ids of those top 5 clients in a list.
df["client_id"].head()

In [ ]:
# How many total units (the qty column) did the
# client with the most entries order order?

5.463900e+04

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [9]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

def calculate_subtotal(unit_price, qty):
    return unit_price * qty

df["subtotal"] = calculate_subtotal(df["unit_price"], df["qty"])
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00

In [10]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.





def shipping_price(unit_weight):
    if unit_weight >  50:
        return unit_weight * 7
    return unit_weight *  10  

df['shipping_price'] = df['unit_weight'].apply(shipping_price)
df.head()


print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'subtotal', 'shipping_price'],
      dtype='object')

In [11]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%


def calculate_total_price(subtotal, shipping_price):
    sales_tax_rate = 0.0925
    tax_amount = subtotal * sales_tax_rate
    total_price = subtotal + tax_amount + shipping_price
    return total_price

df["total_price"] = df.apply(lambda row: calculate_total_price(row["subtotal"], row["shipping_price"]), axis = 1)
 
print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ...     category         subcategory unit_price  \
0          17        2023  ...        decor            wall art    1096.80
1          20        2023  ...  consumables                pens      24.95
2           4        2023  ...     software  project management      13.52
3          17        2023  ...  consumables                pens      36.42
4          21        2023  ...  consumables                misc     195.10

   unit_cost  unit_weight  qty  line_number   subtotal  shipping_price  \
0     762.71         7.50  105            1  115164.00            75.0
1      15.09         1.49   21            0     523.95            14.9
2       7.86         1.68   39            6     527.28            16.8
3      24.85         1.23   29            3    1056.18            12.3
4     108.17        46.43   20            1    3902.00           464.3

     total_price
0  125891.670000
1     587.315375
2     592.853400
3    1166.176650
4    4727.235000

[5 rows x 21 columns]

In [12]:
print(df[['first', 'last', 'total_price']].head())

       first      last    total_price
0     Donald   Harding  125891.670000
1    Tiffany     Myers     587.315375
2    Shannon    Watson     592.853400
3     Nathan     Baker    1166.176650
4  Christina  Schwartz    4727.235000

In [13]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

def calculate_line_cost(unit_cost, qty, shipping_price):
    total_cost = (unit_cost * qty) + shipping_price
    return total_cost
df["line_cost"] = df.apply(lambda row: calculate_line_cost(row["unit_cost"], row["qty"], row["shipping_price"]), axis = 1)

In [14]:
print(df[['first', 'last', 'line_cost']].head().round(2))

       first      last  line_cost
0     Donald   Harding   80159.55
1    Tiffany     Myers     331.79
2    Shannon    Watson     323.34
3     Nathan     Baker     732.95
4  Christina  Schwartz    2627.70

In [15]:
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'subtotal', 'shipping_price', 'total_price',
       'line_cost'],
      dtype='object')

In [16]:
# Create a column for the profit of
# each line using line cost and line price
def calculate_profit (unit_cost, unit_price):
    profit = (unit_cost - unit_price)
    return profit

df["profit"] = df.apply(lambda row: calculate_profit(row["unit_cost"], row["unit_price"]), axis = 1)

In [17]:
print(df[['first', 'last', 'profit']].head().round(2))

       first      last  profit
0     Donald   Harding -334.09
1    Tiffany     Myers   -9.86
2    Shannon    Watson   -5.66
3     Nathan     Baker  -11.57
4  Christina  Schwartz  -86.93

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [26]:
# Check your work using the totals above
specific_order_id = 2742071
specific_order = df[df['order_id'] == specific_order_id]

if not specific_order.empty:
    total_price_row = specific_order.sum(numeric_only=True)
    total_price_row['first'] = 'total'
    total_price_row['last'] = 'price'

result = pd.concat([specific_order, pd.DataFrame(total_price_row).transpose()])
print(result)

          first   last                                       job  \
3446   Kimberly  Blair  Geographical information systems officer
6287   Kimberly  Blair  Geographical information systems officer
20623  Kimberly  Blair  Geographical information systems officer
23840  Kimberly  Blair  Geographical information systems officer
24671  Kimberly  Blair  Geographical information systems officer
42470  Kimberly  Blair  Geographical information systems officer
0         total  price                                       NaN

                    phone                           email client_id  \
3446   477-680-9323x27378  blair.kimberly.6618@nelson.biz     78447
6287   477-680-9323x27378  blair.kimberly.6618@nelson.biz     78447
20623  477-680-9323x27378  blair.kimberly.6618@nelson.biz     78447
23840  477-680-9323x27378  blair.kimberly.6618@nelson.biz     78447
24671  477-680-9323x27378  blair.kimberly.6618@nelson.biz     78447
42470  477-680-9323x27378  blair.kimberly.6618@nelson.biz     78447
0                     NaN                             NaN  470682.0

         order_id  order_date order_week order_year  ... unit_price unit_cost  \
3446      2742071  2023-02-27          9       2023  ...       5.59      3.05
6287      2742071  2023-02-27          9       2023  ...      460.2    407.68
20623     2742071  2023-02-27          9       2023  ...     135.12     80.78
23840     2742071  2023-02-27          9       2023  ...      47.59     35.41
24671     2742071  2023-02-27          9       2023  ...      59.69     54.86
42470     2742071  2023-02-27          9       2023  ...      82.18     61.07
0      16452426.0         NaN       54.0    12138.0  ...     790.37    642.85

      unit_weight    qty line_number   subtotal shipping_price    total_price  \
3446        10.46     77           5     430.43          104.6     574.844775
6287          2.6    260           0   119652.0           26.0      130745.81
20623        2.27     12           3    1621.44           22.7      1794.1232
23840        0.54     22           1    1046.98            5.4     1149.22565
24671        1.57     24           2    1432.56           15.7      1580.7718
42470        3.04     44           4    3615.92           30.4      3980.7926
0           20.48  439.0        15.0  127799.33          204.8  139825.568025

       line_cost  profit
3446      339.45   -2.54
6287    106022.8  -52.52
20623     992.06  -54.34
23840     784.42  -12.18
24671    1332.34   -4.83
42470    2717.48  -21.11
0      112188.55 -147.52

[7 rows x 23 columns]

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [ ]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

In [ ]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

In [ ]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

In [ ]:
# Sort the updated data by "Total Profit" form highest to lowest